@charset "utf-8";

/* normalize */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #333333;
    font-family: 'Malgun Gothic', AppleGothic, sans-serif;
    font-size: 14px;
}

li {
    list-style: none;
}

img {
    border: 0;
    vertical-align: top;
}

a {
    color: #333333;
    text-decoration: none;
}

a:hover {
    color: #121212;
    text-decoration: underline;
}

.blind {
    position: absolute;
    left: 0;
    top: -9999em;
    overflow: hidden;
}

/* layout */
.con {
    width: 1200px;
    margin: 0 auto;
}

/***** custom *****/
/* header */
#header {
    position: relative;
    z-index: 10;
    padding: 30px 0;
}

#header:after {
    content: '';
    display: block;
    clear: both;
}

#header .logo {
    float: left;
}

#header .gnb {
    float: right;
    margin-right: 20px;
}

#header .gnb>ul>li {
    float: left;
    width: 150px;
    position: relative;
}

#header a {
    text-decoration: none;
    text-align: center;
    display: block;
    color: #373644;
}

#header .gnb>ul>li>a {
    background-color: #d3d5db;
    font-size: 16px;
    border: 1px solid #bfc0c5;
    line-height: 40px;
}

#header .gnb>ul>li>a.on {
    background-color: #373644;
    border-color: #17161b;
    color: #ffffff;
}

#header .gnb ul li ul {
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
}

#header .gnb ul li ul li a {
    border-bottom: 1px solid #acacac;
    font-size: 14px;
    line-height: 30px;
}

#header .gnb ul li ul li a:hover {
    background-color: #9c9999;
    border-bottom-color: #676767;
    color: #ffffff;
}

/* slider */
#slider {
    height: 300px;
    overflow: hidden;
}

#slider > ul {
    /* width: 3600px; */
    position: relative;
}

/* 가로 슬라이드 사용할 시 추가 */
/* #slider > ul:after {
    content: '';
    display: block;
    clear: both;
}

#slider > ul > li {
    float: left;
} */

/* contents */
#contents {
    height: 200px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

#contents section {
    width: 33.3%;
    float: left;
}

#contents>section:nth-of-type(2) {
    margin: 0 10px;
}

#contents:after {
    content: '';
    display: block;
    clear: both;
}

/* news area */
#contents .news {
    position: relative;
}

#contents .news>h2 {
    position: relative;
    z-index: 999;
    width: 90px;
    height: 35px;
    background-color: #eeeeee;
    color: #373644;
    font-size: 18px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    line-height: 29px;
    text-align: center;
    font-weight: normal;
    float: left;
}

#contents .news ul {
    position: absolute;
    top: 34px;
    left: 0px;
    right: 0px;
    border-top: 1px solid #dddddd;
    padding: 16px 0 0 10px;
}

.notice li {
    overflow: hidden;
    line-height: 32px;
}

.notice li.active a {
    color: #4139b1;
    text-decoration: underline;
}

.notice li span {
    float: right;
    color: #717171;
    margin-right: 10px;
}

#contents .news ul.gallery li {
    float: left;
    margin-top: 10px;
    margin-right: 15px;
}

#contents .title {
    letter-spacing: -0.1rem;
    cursor: pointer;
}

#contents .title.on {
    border: 1px solid #dddddd;
    background-color: #ffffff;
    color: #373644;
    font-weight: bold;
}

/*banner & direct*/
.banner,
.direct {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner>.title,
.direct>.title {
    position: absolute;
    width: 100px;
    padding: 14px 0;
    text-align: center;
    color: #ffffff;
    background-color: rgb(55, 54, 68, 0.6);
}

.banner>.title:hover,
.direct>.title:hover {
    color: #373644;
    background-color: rgba(255, 255, 255, 0.5);
}

/* footer */
#footer {
    padding-bottom: 30px;
    background-color: #eee;
    height: 100px;
}

#footer:after {
    content: '';
    display: block;
    clear: both;
}

#footer .logo_btm {
    float: left;
    margin-top: 30px;
    margin-left: 10px;
}

#footer .sns {
    float: right;
    margin-top: 22.5px;
    padding-right: 8px;
}

#footer .sns li {
    float: left;
    margin-left: 8px;
}

#footer .sns img {
    border-radius: 50%;
}

#footer .copy {
    text-align: center;
    line-height: 100px;
    color: #777777;
}

/* popup */
.bg {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,0.6);
}

.popup {
    position: absolute;
    left: 50%;
    top: 120px;
    z-index: 2000;
    width: 500px;
    height: 400px;
    padding: 20px;
    margin-left: -250px;
    background-color: #ffffff;
}

.popup .title {
    margin-bottom: 16px;
    border-bottom: 1px solid #777777;
    color: #373644;
    font-size: 18px;
    line-height: 46px;
}

.popup p {
    margin-bottom: 8px;
}

.popup .close {
    position: absolute;
    right: 36px;
    bottom: 40px;
    width: 80px;
    height: 30px;
    background-color: #dddddd;
    border: 1px solid #777777;
    cursor: pointer;
}
